# Node modules
node_modules/

# Build output
build/
dist/

# IDE/editor settings
.vscode/
.idea/

# Log files
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Cache files
.cache/
.eslintcache

# Coverage directory
coverage/
